<%- include ('../partials/head') %>
<body class="body">
    <%- include ('../partials/header') %>
    <main class="main">
        <div class="main-header-space"></div>
        <section class="selected-article">
            <section class="article-pic-detail">
                <article class="article-pic">
                    <div class="container-img">
                        <figure><img src="/images/imgPerfume/<%= perfume.image %>"  alt="imagen perfume" ></figure>
                    </div>
                </article>
            </section>
            <section class="btns-detail">
                <div class="form-select-ml">
                    <label for="ml">medida</label>
                    <select name="ml" id="ml">
                        <option value="ml1" id="<%= perfume.measure.measure %>"><%= perfume.measure.measure %> ml</option>
                        <option value="ml2" id="100">100 ml</option>
                        <option value="ml3" id="120">120 ml</option>
                    </select>
                </div>
                <div class="price">
                    <h4>precio</h4>                    
                    <div id="btn-price">
                        <h4>AR$</h4>
                        <input id="precioOculto" value="<%=perfume.price%>">
                        <h4><%= perfume.price %></h4>
                    </div>
                </div>    
                <div class="quantity">
                    <label for="qtt">cantidad</label>
                    <select name="quantity" id="qtt">
                        <option value="1" id="1">1 (uno)</option>
                        <option value="2" id="2">2 (dos)</option>
                        <option value="3" id="3">3 (tres)</option>
                        <option value="4" id="4">4 (cuatro)</option>
                        <option value="5" id="5">5 (cinco)</option>
                    </select>
                </div>   
                <div class="price">
                    <h4>precio total</h4>                    
                    <div id="btn-totalprice">
                        <h4>AR$</h4>
                        <h4 id="precioTotal"></h4>
                        <input type="number" id="totalOculto">
                    </div>
                </div>                   
                <div class="btn-checkout">
                    <a href="/"><button id="btn-checkout" type="submit">agregar al carrito</button></a>
                </div>
                <div class="btn-payment">
                    <a href="/carrito"><button id="btn-payment" type="submit">comprar</button></a>
                </div>   
            </section>
        </section>
    </main>    
    <%- include ('../partials/footer') %>
    <script src="/javascripts/detail.js"></script>
    <script src="/javascripts/index&detail.js"></script>    
    <script src="/javascripts/selection.js"></script>    
</body>
</html>