<%- include ('../partials/head') %>
<body class="body">
    <%- include ('../partials/header') %>
    <main class="main">
        <div class="main-header-space"></div>
        <section class="articles-selection">
            <section class="articles-inputs">
                <h4>filtrá tu búsqueda</h4>
                <form action="/selection" method="GET" class="form-inputs">
                    <div class="form-select-genre">
                        <select name="genre" id="genre">
                            <option value="mujeres" id="mujeresB">mujeres</option>
                            <option value="hombres" id="hombresB">hombres</option>
                            <option value="unisex" id="unisexB">unisex</option>
                            <option value="outlet" id="outletB">outlet</option>
                        </select>
                    </div>
                    <div class="form-select-marca">
                            <select name="markId" id="marca"  class="input">
                                <option value="#" disabled selected>marca</option>
                                <% marcas.forEach (marca => { %>
                                    <option value="<%= marca.id %>" required><%= marca.mark %></option>
                                <% }) %>
                            </select>
                    </div>
                    <div class="form-select-modelo">
                            <select class="input" name="modelId" id="modelo">
                                <option value="#" disabled selected>modelo</option>
                            </select>
                    </div>
                </form>
            </section>
            <section class="articules-section">
                <% perfumes.forEach(function (perfume) { %>
                <a class="section-a" href="/detalle/<%=perfume.id%>">
                    <article class="article-a">
                        <section class="image">
                            <figure>
                                <img class="img" src="/images/imgPerfume/<%= perfume.image %>" alt="">
                            </figure>
                        </section>
                        <div  class="descripcion"><p><%= perfume.mark.mark %> <%= perfume.model.model %></p></div>
                        <p class="precios">AR$  <%= perfume.price %></p>
                    </article>
                </a>
                <% }); %>
            </section>
    </main>
    <script src="/javascripts/selection.js"></script>    
    <%- include ('../partials/footer') %>
</body>
</html>