<%- include ('../partials/head') %>
<body class="body">
    <%- include ('../partials/header') %>
    <main class="main">
        <div class="main-header-space"></div>
        <section class="banner">
          <figure>
            <img class="banner" src="/images/imagen-banner-proyecto-integrador (2).jpg" alt="">
          </figure>
        </section>
        </div>
        <h3>productos destacados</h3>
        <section class="articules-section">
            <section class="articules-section">
                <% perfumes.forEach(function (perfume) { %>
                <a class="section-a" href="/detalle/<%=perfume.id%>">
                    <article class="article-a">
                        <section class="image">
                            <figure>
                                <img class="img" src="/images/imgPerfume/<%= perfume.image %>" alt="">
                            </figure>
                        </section>
                        <div  class="descripcion"><p><%= perfume.mark.mark %> <%= perfume.model.model %></p></div>
                        <p class="precios">AR$  <%= perfume.price %></p>
                    </article>
                </a>
                <% }); %>
            </section>
        </section>
    </main>    
    <%- include ('../partials/footer') %>
    <script src="/javascripts/index&detail.js"></script>    
    <script src="/javascripts/selection.js"></script>    
</body>
</html>