<%- include ('../partials/head') %>
<body class="body">
    <%- include ('../partials/header') %>
    <main class="main">
        <div class="main-header-space"></div>
        <section class="main-login">
        <p>ingresá a tu cuenta</p>
        <section class="section-login">
            <form action="/ingresar" method="POST" class="form-login">
                <div class="input-container">
                    <input class="input" placeholder="correo electrónico" value="<%= (locals.errors || locals.erroremail || locals.errorpassword) && userEmailOld ? userEmailOld : ''%>" name="useremail" >
                </div>
                <div class="text-alert">    
                    <% if ((locals.errors && errors.useremail)) { %>
                        <p> <%= errors.useremail.msg %> </p> 
                    <% } %>
                    <% if ((locals.erroremail)) { %>
                        <p> <%= erroremail.msg %> </p> 
                    <% } %>  
                </div>
                <div class="input-container">
                    <input class="input" type="password" placeholder="contraseña" name="password">
                </div>
                <div class="text-alert">    
                    <% if ((locals.errors && errors.password)) { %>
                        <p> <%= errors.password.msg %> </p> 
                    <% } %>
                    <% if ((locals.errorpassword)) { %>
                        <p> <%= errorpassword.msg %> </p> 
                    <% } %>
                </div>   
                <div class="input-container">
                    <button id="btn-enter" type="submit"> ingresar </button>
                </div>
                <div id="checkbox-rememberme">
                    <div id="checkbox-centrado">
                        <div id="inp-chkx">
                            <input type="checkbox" name="remember" value="1" id="remember">
                        </div>
                        <div id="lab-chkx">
                            <label "for="remember">recordar mi cuenta</label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="create-acount"><a href="/registrarse">creá tu cuenta</a></div>
            <div class="create-acount" id="forgot-password"><a href="/recuperarcontrasena">¿olvidaste tu contraseña?</a></div>
        </section>
    </section>
    </main>    
    <%- include ('../partials/footer') %></body>
</html>