<%- include ('../partials/head') %>
<body class="body">
    <%- include ('../partials/header') %>
    <main class="main">
        <div class="main-header-space"></div>
        <section class="main-register">
        <p>crear cuenta</p>
        <section class="section-register">
            <form action="/registrarse" method="POST" class="form-register">
                <div class="input-container">
                    <input name="firstname" class="form-control is-invalid" type="text" placeholder="nombre" value="<%= locals.olduser && olduser.firstname ? olduser.firstname : ''%>">
                </div>
                <div class="text-alert">
                    <% if (locals.errors && errors.firstname) { %> 
                      <p> <%= errors.firstname.msg %> </p> 
                    <% } %>   
                </div>                
                <div class="input-container">
                    <input name="lastname" class="input" type="text" placeholder="apellido" value="<%= locals.olduser && olduser.lastname ? olduser.lastname : ''%>">
                </div>
                <div class="text-alert">
                    <% if (locals.errors && errors.lastname) { %>
                        <p> <%= errors.lastname.msg %> </p> 
                    <% } %>   
                </div>                
                <div class="input-container">
                    <input name="username" class="input" type="text" placeholder="correo electrónico" value="<%= locals.olduser && olduser.username ? olduser.username : '' %>">
                </div>
                <div class="text-alert">
                    <% if (locals.errors && errors.username) { %>
                        <p> <%= errors.username.msg %> </p> 
                    <% } %>   
                </div>   
                </div>                                
                <div class="input-container">
                    <input name="password" class="input" type="password" placeholder="contraseña">
                </div>
                <div class="text-alert">
                    <% if (locals.errors && errors.password) { %>
                        <p> <%= errors.password.msg %> </p> 
                    <% } %>   
                </div>                                
                <div class="input-container">
                    <input name="confirmpassword" class="input" type="password" placeholder="repetir contraseña">
                </div>
                <div class="text-alert">
                    <% if (locals.errors && errors.confirmpassword) { %>
                        <p> <%= errors.confirmpassword.msg %> </p> 
                    <% } %>   
                </div>                
                <div class="input-container">
                    <button id="btn-erase" type="reset"> borrar datos </button>
                </div>                              
                <div class="input-container">
                    <button id="btn-enter" type="submit"> crear </button>
                </div>            
            </form>
            <div class="to-login"><a href="/ingresar">¿tenés cuenta? iniciá sesión</a></div>
        </section>
    </section>
    </main>    
    <%- include ('../partials/footer') %>
</body>
</html>