<%- include ('../partials/head') %>
<body class="body">
    <%- include ('../partials/header') %>
    <main class="main">
        <div class="main-header-space"></div>
        <section class="main-register">
        <p>crear cuenta</p>
        <section class="section-register">
            <form action="/registrarse" method="POST" class="form-register" id="formRegister">
                <div class="input-container"> 
                    <input  class="inputForm" id="inputFirstname" name="firstname" class="form-control is-invalid" type="text" placeholder="nombre" value="<%= locals.olduser && olduser.firstname ? olduser.firstname : ''%>">
                    <i id="errorIconFN" class="iconoErrorOrOkNone fas fa-times-circle"></i>
                </div>
                <p id="firstnameP">*solo letras, más de 3 y sin caracteres especiales</p>
                <div class="text-alert">
                    <% if (locals.errors && errors.firstname) { %> 
                      <p> <%= errors.firstname.msg %> </p> 
                    <% } %>   
                </div>                
                <div class="input-container">
                    <input class="inputForm" id="inputLastname" name="lastname" class="input" type="text" placeholder="apellido" value="<%= locals.olduser && olduser.lastname ? olduser.lastname : ''%>">
                    <i id="errorIconLN" class="iconoErrorOrOkNone fas fa-times-circle"></i>
                </div>
                <p id="lastnameP">*solo letras, más de 3 y sin caracteres especiales</p>
                <div class="text-alert">
                    <% if (locals.errors && errors.lastname) { %>
                        <p> <%= errors.lastname.msg %> </p> 
                    <% } %>   
                </div>                
                <div class="input-container">
                    <input class="inputForm" id="inputEmail" name="email" class="input" type="text" placeholder="correo electrónico" value="<%= locals.olduser && olduser.email ? olduser.email : '' %>">
                    <i id="errorIconE" class="iconoErrorOrOkNone fas fa-times-circle"></i>
                </div>
                <p id="emailP">*solo el formato email será válido</p>
                <div class="text-alert">
                    <% if (locals.errors && errors.email) { %>
                        <p> <%= errors.email.msg %> </p> 
                    <% } %>
                </div>   
                </div>                                
                <div class="input-container">
                    <input class="inputForm" id="inputPassword" name="password" class="input" type="password" placeholder="contraseña">
                    <i id="errorIconP" class="iconoErrorOrOkNone fas fa-times-circle"></i>
                </div>
                <p id="passwordP">*mínimo 6 caracteres, máximo 18 caracteres</p>
                <div class="text-alert">
                    <% if (locals.errors && errors.password) { %>
                        <p> <%= errors.password.msg %> </p> 
                    <% } %>   
                </div>                                
                <div class="input-container">
                    <input class="inputForm" id="inputPasswordConfirm" name="confirmpassword" class="input" type="password" placeholder="repetir contraseña">
                    <i id="errorIconPC" class="iconoErrorOrOkNone fas fa-times-circle"></i>
                </div>
                <p id="confirmpasswordP">*no coinciden la contraseña y su confirmación</p>
                <div class="text-alert">
                    <% if (locals.errors && errors.confirmpassword) { %>
                        <p> <%= errors.confirmpassword.msg %> </p> 
                    <% } %>   
                </div>                
                <div class="input-container-btn">
                    <button id="btn-erase" type="reset"> borrar datos </button>
                </div>                              
                <div class="input-container-btn">
                    <button id="btn-enter" type="submit"> crear </button>
                </div>            
            </form>
            <div class="to-login"><a href="/ingresar">¿tenés cuenta? iniciá sesión</a></div>
        </section>
    </section>
    </main>
    
    <%- include ('../partials/footer') %>

    <script src="/javascripts/register.js"></script>

</body>
</html>