<%- include ('../../partials/head') %>
<body class="body">
    <%- include ('../../partials/header') %>

    <main class="main">
        <div class="main-header-space"></div>
        <section class = "container">
            <form action="/administrar/crear" method="POST" enctype="multipart/form-data">
                <div class="form">
                    <select class="form-in" name="mark" id="marca">
                        <option value="#" disabled selected>marca</option>
                        <% allMarks.forEach(i => { %>
                            <option value="<%= i.id %>" required><%= i.mark %></option>
                        <% }) %>
                    </select>
                </div>            
         <!--       <div>
                    <select name="model" id="model">
                       <option value="#" disabled selected>modelo</option>
                    </select>   
                </div> -->
                </div>                
                <div class="form">
                    <input class="form-in" name="price" type="number" placeholder="precio" required>
                </div>
                <div class="form">
                    <select class="form-in" name="gender" id="gender">
                        <!--<option value="#" disabled selected>género</option>
                        <option value="hombre">hombre</option>
                        <option value="mujer">mujer</option>
                        <option value="unisex">unisex</option>-->
                        
                    </select>
                </div>
                <div class="form">
                    <select class="form-in" name="size" id="size">
                        <!--<option value="#" disabled selected>tamaño</option>
                        <option value='30'>30 ml</option>
                        <option value='50'>50 ml</option>
                        <option value='100'>100 ml </option>
                        <%# allMeasures.forEach(i => { %>
                            <option value="<%#= i.id %>" required><%#= i.measure %></option>
                        <%# }) %>-->
                    </select>
                </div>
                <div class="outlet">
                    <label class="form-out" for="outlet">outlet</label>
                    <input class="form-out" type="checkbox" name="outlet" value=1>
                </div>
                <div class="file-imagen">
                    <input class="file-img" type="file" name="image" >
                </div>
                </section>
                <section class="btn-container">
                <div class="btn-erase">
                    <button id="btn-erase" type="reset"> borrar datos </button>
                </div>                
                <div class="btn-get-in">
                    <button id="btn-enter" type="submit"> guardar </button>
                </div>
            </section>
            </form>
        <section class="btn-back">
            <h4>botón de volver <a class="btn-volver" href="/administrar">volver</a></h4>
        </section>
    </main>    
    <%- include ('../../partials/footer') %>
</body>
</html>