<%- include ('../../partials/head') %>
<body class="body">
    <%- include ('../../partials/header') %>
    <main class="main">
        <div class="main-header-space"></div>
        <div class="h4">
            <h4>Productos</h4>
        </div>
        <section class="articles-selection">
        <table class = "table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">marca</th>
                    <th scope="col">modelo</th>
                    <th scope="col">género</th>
                    <th scope="col">ver</th>
                    <th scope="col">editar</th>
                    <th scope="col">eliminar</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(function (perfume) { %>
                    <tr>
                        <td> <%= perfume.id %> </td>
                        <td> <%= perfume.mark %> </td>
                        <td> <%= perfume.model %> </td>
                        <td> <%= perfume.gender %> </td>
                        <td><a href="/administrar/visualizar/<%= perfume.id %>"><i class="fas fa-eye"></i></a></td>
                        <td><a href="/administrar/editar/<%= perfume.id %>"><i class="fas fa-edit"></i></a></td>
                        <td><a href="/administrar/eliminar/<%= perfume.id %>"><i class="fas fa-trash"></i></a></td>
                    </tr>
                <% }); %> 
            </tbody>
        </table>
        </section>
        <section class="btns-ck">
            <h4>botón de crear <a class="a" href="/administrar/crear">crear</a></h4>
        </section>
    </main>    
    <%- include ('../../partials/footer') %>
</body>
</html>