<%- include ('../../partials/head') %>
<body class="body">
    <%- include ('../../partials/header') %>
    <main class="main">
        <div class="main-header-space"></div>
        <section class = "container">
            <!--<section class="detail-img">
                <div>
                    <img src="/images/imgPerfume/<%= unProducto.image %>" alt="imagen perfume">
                </div> 
            </section>-->
        <section class = "product">
            <div class="detail-product">
               <p>id: <%= products.id %></p>
            </div>
            <div class="detail-product">
                <p>mark: <%= products.mark.mark %></p>
            </div>
            <div class="detail-product">
                <p>model: <%= products.model.model %></p>
            </div>
            <div class="detail-product">
                <p>gender:  <%= products.genre.genre %></p>
            </div>
            <div class="detail-product">
                <p>measure: <%= products.measure.measure %></p>
            </div>
            <div class="detail-product">
                <p>price: <%= products.price %></p>
            </div>
            <div class="outlet">
                <% if (products.outlet == 1){ %>
                    <p> outlet: sí</p>
                <% }; %>
                <% if (products.outlet == 0){ %>
                    <p> outlet: no</p>
                <% }; %>
            </div>
            <div class="outlet">
                <% if (products.destacado == 1){ %>
                    <p> destacados: sí</p>
                <% }; %>
                <% if (products.destacado == 0){ %>
                    <p> destacados: no</p>
                <% }; %>
            </div>
    </section>
    </section>
        <section class="btns">
            <div class="a">
            <h4><a href="/administrar">volver</a></h4>
        </div>
        <div class="a">
            <h4><a href="/administrar/editar/<%= products.id %>">editar</a></h4>
        </div>
        </section>
    </main>    
    <%- include ('../../partials/footer') %>
</body>
</html>