<%- include ('../../partials/head') %>
<body class="body">
    <%- include ('../../partials/header') %>

    <main class="main">
        <div class="main-header-space"></div>
        <section class = "container">
            <form action="/administrar/crear" method="POST" enctype="multipart/form-data">
                <div class="form">
                    <select class="form-in" name="mark" id="marca">
                        <option value="#" disabled selected>marca</option>
                        <% perfumeMarca.forEach (i => { %>
                            <option value="<%= i.id %>" required><%= i.mark %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form">
                    <select class="form-in" name="model" id="modelo">
                        <option value="#" disabled selected>modelo</option>
                    </select>
                </div>                 
                <div class="form">
                    <input class="form-in" name="price" type="number" placeholder="precio" required>
                </div>
                <div class="form">
                    <input class="form-in" name="stock" type="number" placeholder="stock" required>
                </div>
                <div class="form">
                    <select class="form-in" name="genre" id="gender">
                        <option value="#" disabled selected>género</option>
                        <% perfumeGenero.forEach (i => { %>
                            <option value="<%= i.id %>" required><%= i.genre %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form">
                    <select class="form-in" name="measure" id="size">
                        <option value="#" disabled selected>tamaño</option>
                        <% perfumeMeasure.forEach (i => { %>
                            <option value="<%= i.id %>" required><%= i.measure %> ml</option>
                        <% }) %>
                    </select>
                </div>
                <div class="outlet form">
                    <label class="form-out-label" class="textLabel" for="destacado">destacado</label>
                    <input class="form-out-input" class="textInput" type="checkbox" name="destacado" value=1>
                </div>
                <div class="outlet form">
                    <label class="form-out-label" class="textLabel" for="outlet">outlet</label>
                    <input class="form-out-input" class="textInput" type="checkbox" name="outlet" value=1>
                </div>
                <div class="file-imagen">
                    <input class="file-img" type="file" name="image" id="fileImg">
                </div>
                </section>
                <section class="btn-container">
                <div class="btn-erase">
                    <button id="btn-erase" type="reset"> borrar datos </button>
                </div>                
                <div class="btn-get-in">
                    <button id="btn-enter" type="submit"> guardar </button>
                </div>
            </section>
            </form>
        <section class="btn-back">
            <h4>botón de volver <a class="btn-volver" href="/administrar">volver</a></h4>
        </section>
    </main>    
    <%- include ('../../partials/footer') %>
    <script src="/javascripts/models.js"></script>
</body>
</html>