<%- include ('../../partials/head') %>
<body class="body">
    <%- include ('../../partials/header') %>
    <main class="main">
        <div class="main-header-space"></div>
        <section class = "main-section">
            <form class="form" id="formEdit" action="/administrar/actualizar/<%=products.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <section class="container-mark">   
                    <div class="mark">
                        <select name="markId" id="marca"  class="input">
                            <option value="<%= products.mark.id %>" selected> <%= products.mark.mark %> </option>
                            <% mark.forEach(i => { %>
                                <option value="<%= i.id %>" required><%= i.mark %></option>
                            <% }) %>
                        </select>
                    </div>     
                    <div class="form mark">
                        <select class=input" name="modelId" id="modelo">
                            <option id="optionModelo" value="<%= products.modelId %>" selected><%= products.model.model %></option>
                        </select>
                    </div>            
                    <div class="mark">
                        <select name="genreId" id="gender"  class="input">
                            <option value="<%= products.genreId %>" selected><%= products.genre.genre %></option>
                            <% genre.forEach(genre => { %>
                                <option value="<%= genre.id %>" required><%= genre.genre %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="mark">
                        <select name="size" id="size"  class="input">
                            <option value="<%= products.id %>" selected><%= products.measure.measure %> ml</option>
                            <% measure.forEach(measure => { %>
                                <option value="<%= measure.id %>" required><%= measure.measure %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="mark">
                        <label for="outlet">outlet</label>
                        <% if (products.outlet == 1){ %>
                            <input style=margin:5px type="checkbox" name="outlet" value=1 checked>
                        <% }; %>
                        <% if (products.outlet == 0){ %>
                            <input style=margin:5px type="checkbox" name="outlet" value=1>
                        <% }; %>
                    </div>
                    <div class="mark">
                        <label for="outlet">destacado</label>
                        <% if (products.destacado == 1){ %>
                            <input style=margin:5px type="checkbox" name="destacado" value=1 checked>
                        <% }; %>
                        <% if (products.destacado == 0){ %>
                            <input style=margin:5px type="checkbox" name="destacado" value=1>
                        <% }; %>
                    </div> 
                    <div class="mark">
                        <input  name="price" class="input" type="number" value ="<%= products.price %>" required>
                    </div>    
                    <div class='mark' >
                        <input class="input" type="number" name="stock" value ="<%= products.stock %>" id="" required> 
                    </div>
                </section>
                <section class="imginput">
                    <div id="previewSection">
                        <img src="/images/imgPerfume/<%= products.image %>"  alt="imagen perfume" >
                    </div>
                        <input  type="file" id="newImage" name="newImage" accept=".jpg, .png, .jpeg">
                    </section>
                    <section class="btns">
                        <div class="a-btn">
                            <button type="submit" id="btn-enter"> guardar </button> 
                        </div>
                        <div class="a-btn">
                            <a href="/administrar"> omitir </a>
                        </div> 
                    </section>
            </form>
        </section>     
    </main>    
    <%- include ('../../partials/footer') %>
    <script src="/javascripts/adminEdit.js"></script>

</body>
</html>