<%- include ('../../partials/head') %>
<body class="body">
    <%- include ('../../partials/header') %>
    <main class="main">
        <div class="main-header-space"></div>
        <section class = "detail-product">
            <div>
                <%= unProducto.id %>
            </div>
            <div>
                <%= unProducto.mark %>
            </div>
            <div>
                <%= unProducto.model %>
            </div>
            <div>
                <%= unProducto.gender %>
            </div>
            <div>
                <%= unProducto.size %>
            </div>
            <div>
                <%= unProducto.price %>
            </div>
            <div class="outlet">
                <% if (unProducto.outlet == 1){ %>
                    <p> outlet sí</p>
                <% }; %>
                <% if (unProducto.outlet == 0){ %>
                    <p> outlet no</p>
                <% }; %>
            </div>
            <div>
                <img src="/images/imgPerfume/<%= unProducto.image %>" alt="imagen perfume">
            </div>
        </section>
        <form action="/administrar/eliminado/<%= unProducto.id %> " method="GET" enctype="multipart/form-data">
            <div class="btn-destroy">
                <button id="btn-destroy" type="submit"> confirmar </button>
            </div>          
        </form>
        <a href="/administrar"><button>volver</button></a>

    </main>    
    <%- include ('../../partials/footer') %>
</body>
</html>